<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body background="../images/canstockphoto12241921.jpg" style ="height: 600px" width="1200px">
  <p><b>
        (text to appear over the image goes here)
      </b></p>

  </body>
</html>
